# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# Remove tabacaria.db do controle de versão
tabacaria.db
*.db


# next.js
/.next/
/out/
build/

# misc
.DS_Store
*.pem
Thumbs.db

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files (Ignora todos os arquivos reais, mas permite modelos)
.env
.env.*
!.env.example
!.env.template
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# linting & caches (Evita enviar arquivos pesados de cache do Next.js)
.eslintcache
.stylelintcache

# editors / IDEs (Evita enviar suas configurações pessoais do VSCode ou outros editores)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# chave supa / scripts locais
supabase.py