@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 145 0% 10%; /* Urban Black */
  }
}

/* --- ESTILO GERAL (GO GREEN) --- */
body {
  background-color: #ffffff;
  color: #121212;
  overflow-x: hidden;
  
  /* Textura de Ruído Sutil (Noise) para dar materialidade ao branco */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.04'/%3E%3C/svg%3E");
  background-attachment: fixed; /* O ruído fica fixo enquanto você rola a página */
}

/* --- SCROLLBAR CUSTOMIZADA --- */
/* Funciona no Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 6px; /* Altura para scroll horizontal */
}

::-webkit-scrollbar-track {
  background: #f4f4f5; /* Cinza claro */
}

::-webkit-scrollbar-thumb {
  background: #064e3b; /* Verde Floresta */
  border-radius: 99px;
  border: 2px solid #f4f4f5; /* Borda para dar respiro */
}

::-webkit-scrollbar-thumb:hover {
  background: #39FF14; /* Verde Neon ao passar o mouse */
}

/* --- UTILITÁRIOS --- */

/* Esconder Scrollbar (mas manter funcionalidade) */
/* Usado no menu de categorias horizontal */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Animação Suave de Flutuar (Para imagens de produtos) */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

/* Seleção de Texto */
::selection {
  background-color: #39FF14; /* Neon */
  color: #000;
}

/* --- ANIMAÇÃO MARQUEE (FAIXA ROTATIVA) --- */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  display: flex;
  width: max-content;
}

